= form_for(@commit) do |f|
  = render "shared/error_messages", :f => f, :@object => f.object
  .field
    %div= f.label :revision
    %div= f.number_field :revision
  .field
    %div= f.label :committer_id
    %div= f.number_field :committer_id
  .field
    %div= f.label :datetime
    %div= f.text_field :datetime
  .field
    %div= f.label :message
    %div= f.text_field :message
  .actions
    %div= f.submit :name => "new_commit"