<h1>Listing commits</h1>

<table>
  <tr>
    <th>Revision</th>
    <th>User</th>
    <th>Datetime</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commits.each do |commit| %>
  <tr>
    <td><%= commit.revision %></td>
    <td><%= commit.user_id %></td>
    <td><%= commit.datetime %></td>
    <td><%= commit.message %></td>
    <td><%= link_to 'Show', commit %></td>
    <td><%= link_to 'Edit', edit_commit_path(commit) %></td>
    <td><%= link_to 'Destroy', commit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commit', new_commit_path %>
