<%= form_for(@change) do |f| %>
  <% if @change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@change.errors.count, "error") %> prohibited this change from being saved:</h2>

      <ul>
      <% @change.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revision %><br />
    <%= f.number_field :revision %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :project_root %><br />
    <%= f.text_field :project_root %>
  </div>
  <div class="field">
    <%= f.label :filepath %><br />
    <%= f.text_field :filepath %>
  </div>
  <div class="field">
    <%= f.label :fullpath %><br />
    <%= f.text_field :fullpath %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
