= form_for(@committer) do |f|
  = render "shared/error_messages", :f => f, :@object => f.object
  .field
    %div= f.label :name
    %div= f.text_field :name
  .field
    %div= f.label :project_id
    %div= f.text_field :project_id
  .actions
    %div= f.submit