%p#id= notice
.committer
  %h1= "Project: #{@project.name}"
  .committers
    %h3 committers
    %ul.committers
      - committers_for(@project).each do |committer|
        %li= link_to committer.name, committer
= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path