%header
  %h1= "Statistics"
.projects
  %header
    %h2= "Total commits for all projects"
  %ul
    - @projects.each do |project|
      %li= "Project: #{project.name}, Total Commits: #{commits_by(project)}"

.users
  %header
    %h2= "Total commits for all users"
  - @projects.each do |project|
    %ul
      %header
        %h3= "Project: #{project.name}"
      - users_for(project).each do |user|
        %li= "User: #{user.name}, Total Commits: #{total_commits_for(user)}"

.yearly
  %header
    %h2= "All commits by year"
  - @projects.each do |project|
    %ul
      %header
        %h3= "Project: #{project.name}"
      - yearly_commits_for(project).each do |year|
        %li= "Year: #{year[0]}, Total Commits: #{year[1]}"

.user-yearly
  %header
    %h2= "Yearly commits by user"
  - @projects.each do |project|
    %ul
      %header
        %h3= "Project #{project.name}"
      - users_for(project).each do |user|
        %li= "User: #{user.name}"
        %ul
          - commits_by_year_for(user).each do |year|
            %li= "Year: #{year[0]}, Total Commits: #{year[1]}"

.monthly
  %header
    %h2= "All commits by month"
  - @projects.each do |project|
    %ul
      %header
        %h3= "Project #{project.name}"
      - monthly_commits_for(project).each do |month|
        %li= "Month: #{month_name(month[0])}, Total Commits: #{month[1]}"

.user-monthly
  %header
    %h2= "Monthly commits by user"
  - @projects.each do |project|
    %ul
      %header
        %h3= "Project #{project.name}"
      - users_for(project).each do |user|
        %li= "User: #{user.name}"
        %ul
          - commits_by_month_for(user).each do |month|
            %li= "Month: #{month_name(month[0])}, Total Commits: #{month[1]}"
