%header
  %h1= "Statistics"
.users
  %header
    %h2= "Total commits for all users"
  %ul
    - @users.each do |user|
      %li= "User: #{user.name}, Total Commits: #{total_commits_for(user)}"
.yearly
  %header
    %h2= "All commits by year"
  %ul
    - commits_by_year.each do |year|
      %li= "Year: #{year[0]}, Total Commits: #{year[1]}"
.user-yearly
  %header
    %h2= "Yearly commits by user"
  - @users.each do |user|
    %ul
      %li= "User: #{user.name}"
      %ul
        - commits_by_year_for(user).each do |year|
          %li= "Year: #{year[0]}, Total Commits: #{year[1]}"
