%header
  %h1 Statistics
.projects
  %header
    %h2 Total commits for all projects
  %ul
    - @projects.each do |project|
      %li= "Project: #{project.name}, Total Commits: #{project.commits_count}"

.committers
  %header
    %h2 Total commits for all committers
  - @projects.each do |project|
    %header
      %h3= "Project: #{project.name}"
    %ul
      - project.committers.each do |committer|
        %li= "Committer: #{committer.name}, Total Commits: #{committer.commits_count}"

.yearly
  %header
    %h2 All commits by year
  - @projects.each do |project|
    %header
      %h3= "Project: #{project.name}"
    %ul
      - commits_by_for(StatsHelper::YEAR, project).each do |year|
        %li= "Year: #{year[0]}, Total Commits: #{year[1]}"

.committer-yearly
  %header
    %h2 Yearly commits by committer
  - @projects.each do |project|
    %header
      %h3= "Project #{project.name}"
    %ul
      - project.committers.each do |committer|
        %li= "Committer: #{committer.name}"
        %li
          %ul
            - commits_by_year_for(committer).each do |year|
              %li= "Year: #{year[0]}, Total Commits: #{year[1]}"

.monthly
  %header
    %h2 All commits by month
  - @projects.each do |project|
    %header
      %h3= "Project #{project.name}"
    %ul
      - commits_by_for(StatsHelper::MONTH, project).each do |month|
        %li= "Month: #{month_name(month[0])}, Total Commits: #{month[1]}"

.committer-monthly
  %header
    %h2 Monthly commits by committer
  - @projects.each do |project|
    %header
      %h3= "Project #{project.name}"
    %ul
      - project.committers.each do |committer|
        %li= "Committer: #{committer.name}"
        %li
          %ul
            - commits_by_month_for(committer).each do |month|
              %li= "Month: #{month_name(month[0])}, Total Commits: #{month[1]}"
