!!!5
%html
  %head
    %title= title
    = csrf_meta_tags
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.code/svn/trunk/html5.js"
    = stylesheet_link_tag :application
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"
    = javascript_include_tag :application

  %body
    = render "layouts/header"
    %p.notice= notice
    %p.alert= alert
    = yield
    = debug(params) if Rails.env.development?